.nature-layers
    &__item
        height: 100%
        position: fixed
        bottom: 0
        pointer-events: none
        z-index: 4
        filter: brightness(20%)
    &__backdrop
        fill: #96b523
        fill-rule: evenodd
    &_side
        &_right
            right: 0
            .cls-1
                fill: #b9d022
            .cls-2
                fill: #7aa226
            .cls-3 
                fill: #b0cc16
            .cls-4 
                fill: #73a725
            .cls-5 
                fill: #b9ce1f
            .cls-6 
                fill: #7ba20e
            .cls-7 
                fill: #6a8d1b
            .cls-8 
                fill: #7fa01d
            .cls-9 
                fill: #394d04
            .cls-10 
                fill: #678026
            .cls-11 
                fill: #afc80a
            .cls-12 
                fill: #75af1c
            .cls-13 
                fill: #394e09
            .cls-14 
                fill: #5f8019
            .cls-15 
                fill: #68862d
            .cls-16 
                fill: #acc80c
            .cls-17 
                fill: #3c4b0d
            .cls-18 
                fill: #3f5d0f
            .cls-19 
                fill: #4e5f1b
            .cls-20 
                fill: #648019
            .cls-21 
                fill: #b8cf23
            .cls-22 
                fill: #80a317
            .cls-23 
                fill: #5f8311
            .cls-24 
                fill: #acc90d
            .cls-25 
                fill: #657c2a
            .cls-26 
                fill: #70a41e
            .cls-27 
                fill: #7ca020
            .cls-28 
                fill: #442000
            .cls-29 
                fill: #a9c90f
            .cls-30 
                fill: #5d3304
            .cls-31 
                fill: #658520
            .cls-32 
                fill: #42621f
            .cls-33 
                fill: #abc615
            .cls-34 
                fill: #96ac06
            .cls-35 
                fill: #6e8a24
            .cls-36 
                fill: #97ad0d
            .cls-37 
                fill: #3f5c1d
            .cls-38 
                fill: #93a816
            .cls-39 
                fill: #6c8728
            .cls-40 
                fill: #9fc41b
            .cls-41 
                fill: #adcc1d
            .cls-42 
                fill: #9abc15
            .cls-43 
                fill: #9ec413
            .cls-44 
                fill: #5e8222
            .cls-45 
                fill: #75b21c
            .cls-46 
                fill: #aecc0f
            .cls-47 
                fill: #435d2b
            .cls-48 
                fill: #729d23
            .cls-49 
                fill: #394d10
            .cls-50 
                fill: #7cb02b
            .cls-51 
                fill: #a3c611
            .cls-52 
                fill: #542f03
            .cls-53 
                fill: #3b1604
            .cls-54 
                fill: #7db026
            .cls-55 
                fill: #00a54f
            .cls-56 
                fill: #036b3a
            .cls-57 
                fill: #068043
            .cls-58 
                fill: #1bb26b
            .cls-59 
                fill: #00a650
            .cls-60 
                fill: #088043
            .cls-61 
                fill: #056839
            .cls-62 
                fill: #7d402d
            .cls-63 
                fill: #034c27
            .cls-64 
                fill: #552523
            .cls-65 
                fill: #a25744
            .cls-66
                fill: #055835
        &_left
            left: 0
            .cls-1
                fill: #79503c
            .cls-2
                fill: #8c624a
            .cls-3
                fill: #573320
            .cls-4
                fill: #4f261a
            .cls-5
                fill: #7f523d
            .cls-6
                fill: #8aaa19
            .cls-7
                fill: #c3d43e
            .cls-8
                fill: #aac42e
            .cls-9
                fill: #9bba27
            .cls-10
                fill: #8aa924
            .cls-11
                fill: #a4c225
            .cls-12
                fill: #b2ca34
            .cls-13
                fill: #8bab1a
            .cls-14
                fill: #97b523
            .cls-15
                fill: #a7c12c
            .cls-16
                fill: #a7c12e
            .cls-17
                fill: #a3bd28
            .cls-18
                fill: #b8cf37
            .cls-19
                fill: #6d8b0b
            .cls-20
                fill: #96b523
            .cls-21
                fill: #a4c02d
            .cls-22
                fill: #c6d845
            .cls-23
                fill: #0c401e
            .cls-24
                fill: #09582b
            .cls-25
                fill: #0f592e
            .cls-26
                fill: #017338
            .cls-27
                fill: #058142
            .cls-28
                fill: #017038
            .cls-29
                fill: #006933
            .cls-30
                fill: #1e3413
            .cls-31
                fill: #3b2703
            .cls-32
                fill: #412907
            .cls-33
                fill: #076b37
            .cls-34
                fill: #018943
            .cls-35
                fill: #07aa4d
            .cls-36
                fill: #00a24c
            .cls-37
                fill: #0cac4c
            .cls-38
                fill: #02a04b
            .cls-39
                fill: #40b648
            .cls-40
                fill: #1cb14d
            .cls-41
                fill: #10ae4d
            .cls-42
                fill: #008148
            .cls-43
                fill: #7fc235
            .cls-44
                fill: #00a14b
            .cls-45
                fill: #1faf4d
            .cls-46
                fill: #5ebb48
            .cls-47
                fill: #4ab847
            .cls-48
                fill: #58bb47
            .cls-49
                fill: #4ab848
            .cls-50
                fill: #61bc45
            .cls-51
                fill: #36b54a
            .cls-52
                fill: #026536
            .cls-53
                fill: #027e3f
            .cls-54
                fill: #009b48
            .cls-55
                fill: #019f4a
            .cls-56
                fill: #25b24c
            .cls-57
                fill: #50581c
            .cls-58
                fill: #22b449
            .cls-59
                fill: #a1c528
            .cls-60
                fill: #036b3a
            .cls-61
                fill: #00a650
            .cls-62
                fill: #088043
            .cls-63
                fill: #1ab16a
            .cls-64
                fill: #00a44f
            .cls-65
                fill: #1bb26b
            .cls-66
                fill: #087f45
            .cls-67
                fill: #068541
            .cls-68         
                fill: #006b3a
        &_bottom
            height: 40%
            right: 10%
            .cls-1
                fill: #1c3711
            .cls-2
                fill: #0a411a
            .cls-3
                fill: #06582a
            .cls-4
                fill: #085e2f
            .cls-5
                fill: #0d3e1c
            .cls-6
                fill: #016833
            .cls-7
                fill: #007338
            .cls-8
                fill: #048041
            .cls-9
                fill: #026f39
            .cls-10
                fill: #094a24
            .cls-11
                fill: #58bb47
            .cls-12
                fill: #00a14f
            .cls-13
                fill: #006636
            .cls-14
                fill: #15b04b
            .cls-15
                fill: #027e3f
            .cls-16
                fill: #5ebb48
            .cls-17
                fill: #019f4a
            .cls-18
                fill: #4bb748
            .cls-19
                fill: #10ae4d
            .cls-20
                fill: #4ab848
            .cls-21
                fill: #61bc45
            .cls-22
                fill: #3eb14c
            .cls-23
                fill: #25b24c
            .cls-24
                fill: #23b347
            .cls-25
                fill: #8ed240
            .cls-26
                fill: #8ec643
            .cls-27
                fill: #c1d25f
            .cls-28
                fill: #8dc148
            .cls-29
                fill: #008f42
            .cls-30
                fill: #027c3f
            .cls-31
                fill: #038443
            .cls-32
                fill: #07aa4d
            .cls-33
                fill: #00a24c
            .cls-34
                fill: #16b14c
            .cls-35
                fill: #21b24b
            .cls-36
                fill: #0faf4d
            .cls-37
                fill: #1cb14d
            .cls-38
                fill: #57ba46
            .cls-39
                fill: #42b84a
            .cls-40
                fill: #80c048
            .cls-41
                fill: #027d3f
            .cls-42
                fill: #028745
            .cls-43
                fill: #009948
            .cls-44
                fill: #009b48
            .cls-45
                fill: #02a64d
            .cls-46
                fill: #2ab34b
            .cls-47
                fill: #50ba46
            .cls-48
                fill: #81c441
            .cls-49
                fill: #59ba47
            .cls-50
                fill: #a3cd39
            .cls-51
                fill: #422302
            .cls-52
                fill: #91c841
            .cls-53
                fill: #07592b
            .cls-54
                fill: #037f40
            .cls-55
                fill: #008e46
            .cls-56
                fill: #018843
            .cls-57
                fill: #017139
            .cls-58
                fill: #085c2f
            .cls-59
                fill: #25bb41
            .cls-60
                fill: #072806
            .cls-61
                fill: #027940
            .cls-62
                fill: #0b4b23
            .cls-63
                fill: #085529
            .cls-64
                fill: #03753a
            .cls-65
                fill: #008341
            .cls-66
                fill: #018241
            .cls-67
                fill: #31b748
            .cls-68
                fill: #018846
            .cls-69
                fill: #009748
            .cls-70
                fill: #06491d
            .cls-71
                fill: #027e39
            .cls-72
                fill: #52b946
            .cls-73
                fill: #a8b448