.documentation
    width: 100%
    max-width: 980px
    margin: 0 auto
    padding: 0 10px
    &-section
        & + &
            margin-top: 20px
        p
            margin: 15px 0
        textarea
            display: block
            width: 100%
            padding: 10px 15px
            border: none
            background-color: #eaeaea
    &-example
        background-color: #333333
        padding: 15px